{%  extends "wiki/wiki_base.jinja" %}

{% if page %}
    {% set page_name = "edit_page" %}
{% else %}
    {% set page_name = "create_page" %}
{% endif %}

{% block content %}
    {{ super() }}
    <div class="content_title">
    {% if page_name == "create_page" %}
        {% trans %} Creating new page &ldquo;{{ page_title }}&rdquo; {% endtrans %}
    {% else %}
        {% trans %} Editing page &ldquo;{{ page_title }}&rdquo; {% endtrans %}
    {% endif %}
    </div>
    <div class="content_body">
        <form action="." method="post" >
            {%  csrf_token %}
            <ul id="editform_ul">
                <li>
                    <ul id="edit_commands">
                        <li> <input type="submit" value="{% trans %}Save{% endtrans %}"/> </li>
                        <li> <input id="preview" type="submit" value="{% trans %}Preview{% endtrans %}"/> </li>
                    </ul>
                </li>
                <li><div id="preview_field"></div></li>
                {% for field in form %}
                    <li>
                        <ul class="field_errors">
                        {% for field_error in field.errors %}
                            <li>{{ field_error }}</li>
                        {% endfor %}
                        </ul>
                        {{ field }}
                    </li>
                {% endfor  %}
            </ul>
        </form>
    </div>
{% endblock %}

{% block js %}
    {{ super() }}
    <script type="text/javascript" src="/media/js/utils.js"></script>
    <script type="text/javascript">
        $(function(){
            csrftokenize();

            $("#preview").click(function(ev){
                ev.preventDefault();
                $.post("{{ url_for('wiki_preview_page')}}", 
                        {content: $("#id_content").val()},
                        function(data){
                            $("#preview_field").html(data);
                        }
                )
            })
        });
    </script>
{% endblock js %}
