{% extends "base.jinja" %}

{% block content %}
    <form action="{{ url_for('wiki_show_diffs', page_title) }}" method="get" accept-charset="utf-8">
        <p><input type="submit" value="Compare revisions →"></p>
        <table id="revision_list">
            <thead>
                <tr>
                    <td>{% trans %} Revision {% endtrans %}</td>
                    <td colspan="2">{% trans %} Diff {% endtrans %}</td>
                    <td>{% trans %} Author {% endtrans %}</td>
                    <td>{% trans %} Revert to {% endtrans %}</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                {% for revision in revisions %}
                    {% set ruser = {"id": revision.user__id, "full_name": "%s %s" % (revision.user__first_name, revision.user__last_name)} %}
                    <tr>
                        <td>{{ revision.datetime }}</td>
                        <td><input type="radio" name="revision_1" value="{{ revision.id }}"></td>
                        <td><input type="radio" name="revision_2" value="{{ revision.id }}"></td>
                        <td><a href="{{ url_for('wiki_show_user', ruser.id)}}">{{ ruser.full_name }}</a></td>
                        <td>
                            {% if revision.id != page.revision_id %}
                                <a href='{{ url_for("wiki_revert_page_to_revision", page_title, revision.id)}}'>
                                    {% trans %} Revert {% endtrans %}</a>
                            {% endif %}
                        </td>
                        <td>
                            {% if revision.id == page.revision_id %}
                                {% trans %} current revision {% endtrans %}
                            {% endif %} 
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <p><input type="submit" value="Compare revisions →"></p>
    </form>
{% endblock content %}
