{% extends "wiki/wiki_base.jinja" %}

{% block content %}
    {{ super() }}
    <p>
        {% trans url = url_for('create_page', page_title) %}
        We couldn't find the page you ar looking for, maybe some of the following pages might be it. If not,
        you can create <a href="{{ url }}">new one here</a>
        {% endtrans %}
    </p>  
{% endblock content %}
