{% extends "wiki/wiki_base.jinja" %}

{% block content %}
    {{ super() }}

    <h2 class="page_title">{{ page.readable_title }}</h2>
    <div class="page_body">
        {{ page.current.content_html }}
    </div>
{% endblock %}
