{% extends "base.jinja" %}

{% set page_name = "login_page" %}

{% block content %}
    {% include 'partial/top_right.jinja' %}

    <form action="{{ url_for('register') }}" method="post" accept-charset="utf-8">
        {% csrf_token %}
        <ul>
            {{ register_form.as_ul() }}
            <li><input type="submit" value="Continue →"></li>
        </ul>
    
    </form>
{% endblock content %}
