{% extends "base.jinja" %}
{% block content %}
    <h2 class="page_title">{% trans full_name=user.full_name %} {{ full_name }}'s Profile {% endtrans %}</h2>
    <div class="page_content">

    </div>
{% endblock content %}
