body {
    font-family: 'Source Sans Pro', sans-serif;
}

.bigfont {
    font-size: 60px;
}


ul {
    list-style-type: none;
    padding: 0 !important;
    margin: 0 !important;


    &#edit_commands {
        display: block;
        width: 100%;
        li {
            float: left;
            display: inline-block;
            margin-right: 10px;
        }
    }

    &#editform_ul {
        li {
            display: block;
            height: auto;
            overflow: hidden;
        }
    }

    &.horizontal li {
        float: left;
        display: inline-block;
    }
}

section#content {
}

section#left_frame {
}

section#main {
}

footer {
    border-top: 1px solid #ccc;
}

textarea {
    min-height: 1.5em;
    height: auto;
    overflow: auto;
    line-height: 1.5em;
    padding: 5px;
    width: 400px;

    &#id_message {
        height: 1.5em;
    }
}

p {
    margin: 0.3em auto;
}

#revision_list {
    display: block;
}

ins, del {
    display: inline-block;
}

div#content-top {
    border-bottom: 1px solid #ccc;
    height: auto;
    overflow: hidden; 
    margin-bottom: 10px;

    ul {
        margin: 0;
        a {
            margin-right: 20px;
        }
    }

    input[type=submit] {
    }
}


div.content_title {
    font-size: 42px;
    margin-bottom: 10px;
}

div.content_body {
    font-size: 14px;

    label {
        // form field labels 
        display: block;
    }

    input[type=text], textarea {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;   
        width: 100%;
    }
}

#preview_field {
    background-color: rgba(200, 67, 98, 0.2);
}

header {
    height: auto;
    overflow: hidden;
    position: relative;
}

#logo {
    display: inline-block;
    height: auto;
    overflow: hidden;
}

#user_nav {
    position: absolute;
    top: 10px;
    right: 0;

    a {
        margin-right: 10px;
    }
}
