        {% if request.user.is_authenticated() %}
            <ul id="user_nav" class="horizontal right">
                <li> {{ request.user.full_name }} </li>
                <li> <a href='{{ url_for("account_settings") }}'>{% trans %} Account {% endtrans %}</a> </li>
                <li><a href='{{ url_for("wiki_logout") }}'>{% trans %} Logout {% endtrans %}</a></li>
            </ul>
        {% else %}
            <form action="{{ url_for('wiki_login') }}" method="post" accept-charset="utf-8">
                {% csrf_token %}
                <ul class="horizontal right">
                    {{ login_form.as_ul() }}
                    <li><input type="submit" value="{% trans %} Login {% endtrans %}"></li>
                </ul>
            </form>
            
        {% endif %}

